In [4]:
2 + 2

4

In [5]:
2**3

8

In [10]:
62/2

31.0

In [11]:
62//2

31

In [6]:
type(2)

int

In [2]:
edad = 17

type(edad)
print(type(edad))

<class 'int'>

In [1]:
extrañoamiex = 15.5
type(extrañoamiex)

float

In [3]:
edad = 17
multiplicacion = 17*2

type(edad == multiplicacion)
print (edad != multiplicacion)

True

In [12]:
nombre = "Moisés Arrieta"
type(nombre)
print(type(nombre))

<class 'str'>

In [20]:
nombre = "Moisés"
apellido = "Arrieta"
nombre_completo = nombre + " " + apellido
print(type(nombre_completo))

<class 'str'>

In [21]:
nombre = "Moisés"
apellido = "Arrieta"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

Moisés Arrieta